
<!doctype html>
<html lang="en">

  <head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Roshni Naveen Blog </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Roshni Naveen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/roshni-naveen-131b3b127/">LinkedIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'Gawde_Vikrant_Resume.pdf' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'allblogs' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'allpics' %}">My Pictures</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">


      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hi, I'm Roshni!</h1>
        
          <p class="lead text-muted">Hey my name is Roshni Naveen and I love writing blogs. It is the thrill of communicating thoughts in an entirely different way to connect with the reader at an emotional level.</p>
          <p>
            <a href="mailto:roshniyalanki@gmail.com" class="btn btn-primary my-2">Email Me!</a>

          </p>
          <img src="{% static '10610599_10204195890760548_8012169183887752531_n.jpg' %}" height="700" width="800"/>
        </div>
      </section>
      <p> <h3 class="text-center"> Projects & Jobs </h3> </p>
      <hr/>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for job in jobs.all %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">


                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
           </div>

        </div>
      </div>
    </div>
    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p style="color:black;" > &copy; Roshni Naveen {% now "Y" %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
